body {
    padding: 4px;
    margin: 4px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}

main {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;

}

.extbio {
    list-style-type: none;
}