html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    padding: 4px;
    margin: 4px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}

.header, .content, .footer {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.content {
    padding: 10px;
}

.extbio, .nav-list {
    list-style-type: none;
}

.name, .navigation {
    text-align: center;
}

/* stylowanie tabeli */

.table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.table-header, .table-cell {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 4px;
    text-align: center;
}

.table-caption {
    caption-side: bottom;
    text-align: right;
    margin: 10px;
}

.table-row:hover {
    background-color: lightpink;
}

.author {
    text-align: right;
    padding: 4px;
}