html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 8px;
    background-color: lightgray;
    padding: 4px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.header__section, .header__container, .main, .footer, .navigation__list {
    margin: 4px auto;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    max-width: 800px;
}

/* header section */
.header__container {
    background-color: lightpink;
    text-align: center;
}

.header__image {
    border: 2px solid #f06292;
    border-radius: 50%;
    max-width: 100px;
}

.header__title {
    padding: 20px;
    color: #f06292;
    font-size: 24px;
}

.header__title, .navigation__list {
    text-align: center;
}

.header__container, .header__section, .navigation__list {
    padding: 0;
    overflow: hidden;
}

.header__list, .navigation__list {
    padding: 0;
    list-style-type: none;
}

.header__listItem, .navigation__listItem {
    display: inline-block;
}

.header__listElement, .navigation__listElement {
    display: block;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header__listElement:hover, .navigation__listElement:hover {
    color: #f06292;
}

/* main section */
.main {
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 20px;
}

.main__list, .navigation__listItem {
    list-style-type: none;
}

/* table styles */
.table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

.table__header, .table-cell {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 8px;
    text-align: center;
}

.table__caption {
    margin: 10px;
    caption-side: bottom;
    text-align: right;
    font-weight: bold;
}

.table___row:hover {
    background-color: lightpink;
}

/* link styles */
.main__link {
    color: #f06292;
}

.main__link:visited {
    color: darkgray;
}

.main__link:hover {
    color: lightpink;
}

.main__link:active {
    color: darkgray;
}

/* footer styles */
.footer {
    background-color: #f06292;
    padding: 20px;
    text-align: center;
    color: #fff;
}