.labelText {
    display: inline-block;
    margin-right: 5px;
    width: 200px;
    text-align: right;
}

.main__section {
    margin: 4px auto;
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    width: 800px;
}

.js-form, .form_button, .result-container {
    margin: 0 auto;
    max-width: 600px;
}

.js-amount, .js-target-currency, .js-given-currency {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 100px;
}

.form_button {
    border: none;
    background-color: #f06292;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    color: white;
}

.form_button:hover {
    background-color: hsl(340, 83%, 61%);
}

.form_button:active {
    background-color: hsl(340, 83%, 56%);
}

.fieldset, .result-container {
    margin: 8px auto;
    border: 1px solid #ccc;
    padding: 20px 0;
    width: 100%;
}

.legend {
    background-color: hsl(340, 83%, 66%);
    padding: 10px;
    color: white;
}

.button_container {
    text-align: center;
}

.result-container {
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px;
    width: 100%;
    max-width: 600px;
}