/* ---Box model--- */
html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

/* ---Frame--- */
.body {
    background-color: lightgray;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header, .main, .footer {
    margin: 0px auto 8px;
    max-width: 800px;
}

/* ---google fonts--- */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* ---Header section--- */
.header {}

/* ---Header section lang---  */
.header__lang {
    text-align: right;
}

.header__langList {
    margin: 0 8px;
    list-style-type: none;
}

.header__langListItem {
    display: inline-block;
}

.header__langListItemElement {
    color: black;
    font-size: smaller;
    font-weight: bold;
}

.header__langListItemElement:hover {
    color: #f06292;
}

/* ---Header section logo--- */
.header__logo {
    border: 1px solid black;
    background-color: lightpink;
    text-align: center;
}

.header__logoLink {}

.header__logoLinkImage {
    border: 2px solid #f06292;
    border-radius: 50%;
    max-width: 100px;
}

/* ---Header section name--- */
.header__name {
    border: 1px solid black;
    background-color: white;
}

.header__nameTitle {
    text-align: center;
    color: #f06292;
}

/* ---Header section navigation--- */
.header__navigation {
    border: 1px solid black;
    background-color: white;
}

.header__navigationList {
    list-style-type: none;
    text-align: center;
}

.header__navigationListItem {
    display: inline-block;
}

.header__navigationListItemElement {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header__navigationListItemElement:hover {
    color: #f06292;
}

/* ---Main section--- */
.main {
    border: 1px solid black;
    background-color: white;
    line-height: 1.5;
}

.main__section {
    margin: 8px 12px;
    padding: 12px;
}

.main_sectionTitle {
    text-align: center;
    color: #333;
}

/* ---Main section list--- */
.main__sectionList {
    list-style-type: none;
}

.main__sectionListItem {}

/* ---Main section link--- */
.main__sectionListItemElement {
    color: #f06292;
}

.main__sectionListItemElement:visited {
    color: darkgray;
}

.main__sectionListItemElement:hover {
    color: lightpink;
}

.main__sectionListItemElement:active {
    color: darkgray;
}

/* ---Main section table--- */
.main__sectionTable {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}

.main__sectionTableCaption {
    margin: 10px;
    caption-side: bottom;
    text-align: right;
    font-size: small;
    font-weight: bold;
}

.main__sectionTableRow {}

.main__sectionTableRowHeader {
    border: 1px solid #ccc;
    padding: 8px;
}

.main__sectionTableRowCell {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.main__sectionTableRow:hover {
    background-color: lightpink;
}

/* ---Footer section--- */
.footer {
    border: 1px solid black;
    background-color: lightpink;
    text-align: center;
    color: #fff;
    font-size: small;
    font-weight: bold;
}

.footer__element {}