.main, .header__title, .navigation__list {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.navigation__list {
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

.navigation__listItem {
    border-width: 2px;
    border-style: solid;
    border-color: green;
}